<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create New Poll</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <header>
    <nav>
    <ul>
      <% if (user) {%>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/poll">Polls</a></li>
    </ul>
      </nav>
      <% if (user) {%>
      <img src="<%=user.thumbnail %>">
    <% } %>
      </header>
    
    <main>
    <h1>
      Create New Poll
    </h1>
    
    <div id="create-poll">
      <form>
        <input type="text" name="pollname" placeholder="Name..." required />
        <br/>
        Options (enter seperated by a comma e.g. "cats, dogs, horses, rabbits"):
        <br/>
        <textarea id="options" name = "options" required></textarea>
        <br/>
        <button type="submit" id="createbut">
          Create
        </button>
      </form>
    </div>
      
      </main>
    
  </body>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="/poll-client.js"></script>
  
</html>